@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Anton&display=swap');
$font-game: "ABeeZee";
$font-text: "Roboto";
$color-primary: rgb(52, 111, 109);
$color-secondary: rgb(166, 127, 54);
$color-tertiary: rgb(153, 188, 83);
$color-four: rgb(46, 93, 90);
$color-five: rgb(27, 61, 59);




*{
  margin: 5px;
  padding: 5px;
  
}

  body{
  background-color: $color-primary;
}


.game__container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  
  .game__name{
    font-family: $font-game;
    color: $color-five;
    font-size: 300%;
  }
  


  .game__players{
    display: flex;
    flex-direction: row;
    justify-content: center;
   width: 218px;
   
    
    
    


    .game__players--xo{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline;
      padding: 0%;
      background-color: $color-four;
      border-radius: 2px;
      margin: 10px;
      width: 218px;
      
    
      .game__players--button-x{
        margin: 0px;
          padding: 0px;
        font-family: $font-game;
        font-size: 250%;
        background-color: $color-four;
        border: none;
        color: $color-tertiary;
    
      }

      .game__players--button-o{
        margin:0px;
        padding: 0px;
        font-family: $font-game;
        font-size: 200%;
        background-color: $color-four;
        border: none;
        color: $color-secondary;
        font-weight: bolder;
        
      }


      .game__scoreX,.game__scoreO {
        margin: 0px;
          padding: 0px;
        font-size:250%;
        font-family: $font-game;
        color: $color-five;
      }
    }
  }

  .game__text{
    font-family: $font-text;
    font-weight: bold;
    color: $color-five;
    
  }
  .game__grid{
    padding:0px;
    border: 0px;
    width: auto;
    height: auto;
    
    
   #game__grid--button{
     width: 70px;
     height: 70px;
     padding: 0%;
     border: 0%;
     margin:0;
    border: 3px solid $color-four;
    border-radius: 10px;
    //border: 2px solid $color-secondary;
    background-color: $color-primary
    }

    .game__grid--divider{
      padding: 0px;
      border: 0px;
      margin: 0px;
      
      
     
    }
  
 
  }

  .game__button--restart{
    font-family: $font-text;
    //border: 1.5px solid $color-primary;
    color: $color-five;
    font-size: 100%;
    font-weight: bold;
  }


  
}



